@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', snans-serif;
    scroll-behavior: smooth;
}

.responcive {
    width: 100%;
    height: auto;

}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
    width: 100%;
    height: auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 95000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 30px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 20px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover {
    background: #fff;
    color: #2b1055;
}

header ul li .active {
    background: #fff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;



}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;

}

#text {
    position: absolute;
    right: -473px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;

    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;

}

.sec p {
    font-size: 1.2em;
    color: #fff;

}



img {
    width: 225px;
    height: auto;
}

tr {
    color: #fff;
    padding: 25px;

}


table {
    border: 1px solid#fff;
}

td {
    border: 1px solid#fff;
    padding: 20px;

}

.price {
    padding: 2px;
}

.td {
    padding: 20px;
}

footer {
    text-align: center;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 3px;
    background-color: rgb(182, 79, 241);
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
}

.itemhead {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
}

.service {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
}

h2 {
    font-size: 40px;
    margin-bottom: 100px;

}

.social-links {
    display: flex;

}

.social-links a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    box-shadow: 0 0 80px rgba(226, 188, 248, 0.05);
    margin: 0 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;

}

.social-links a .fa-brands {
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;

}

.social-links a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.5s;
}


.social-links a:hover::after {
    top: 0;
}

.social-links a:hover .fa-brands {
    color: #fff;
}

.social-links a:hover {
    transform: translateY(-10px);
}

ul {
    font-size: 20px;
    color: #fff;
}

.responcive {
    width: 100%;
    height: auto;
}